Host *
  IdentityFile ~/.ssh/id_rsa

Host wlz
  HostName wlz.csie.org
  Port 22624
  User wlz


Host dse dsr dss
  Hostname cychiang.tw
  User albert
Host dsr
  Port 2222
Host dss
  Port 3333



Host linux*.csie.org bsd*.csie.org
  user r03922101


Host nlg*
  user wlzhuang

Host nlg1 nlg2 nlg3 nlg4 nlg5 nlg6 nlg7 nlg8 nlg9
  Hostname nlg17.csie.ntu.edu.tw
Host nlg2
  Port 22002
Host nlg3
  Port 22003
Host nlg4
  Port 22004
Host nlg5
  Port 22005
Host nlg6
  Port 22006
Host nlg7
  Port 22007
Host nlg8
  Port 22008
Host nlg9
  Port 22009

Host nlga nlgb nlgc nlgd nlge
  Hostname nlg7.csie.ntu.edu.tw
Host nlgb
  Port 22002
Host nlgc
  Port 22003
Host nlgd
  Port 22004
Host nlge
  Port 22005


host nbl1 nbl2
  User albert

host nbl1
  Hostname 140.113.87.46
host nbl2
  Hostname 140.113.87.47

