Host *
  IdentityFile ~/.ssh/id_rsa
  Compression yes

Host dse dsr dss
  Hostname cychiang.tw
  User albert
Host dse
  Port 22
Host dsr
  Port 2222
Host dss
  Port 3333

host nbl1 nbl2
  User albert
host nbl1
  Hostname 140.113.87.46
host nbl2
  Hostname 140.113.87.47


Host nlg*
  SendEnv LC_SSH_CWD
  User wlzhuang

Host nlg1 nlg2 nlg3 nlg4 nlg5 nlg6 nlg7 nlg8 nlg9 nlgj
  Hostname nlg17.csie.ntu.edu.tw
Host nlg1
  Port 22
Host nlg2
  Port 22002
Host nlg3
  Port 22003
Host nlg4
  Port 22004
Host nlg5
  Port 22005
Host nlg6
  Port 22006
Host nlg7
  Port 22007
Host nlg8
  Port 22008
Host nlg9
  Port 22009
Host nlgj
  Port 22010

Host nlga nlgb nlgc nlgd nlge nlgf
  Hostname nlg7.csie.ntu.edu.tw
Host nlga
  Port 22
Host nlgb
  Port 22002
Host nlgc
  Port 22003
Host nlgd
  Port 22004
Host nlge
  Port 22005
Host nlgf
  Port 22006




Host simp 
  HostName simplex.tw
  Port 22624
  User wlz





Host linux*.csie.org bsd*.csie.org linux* bsd*
  User r03922101
Host linux1
  Hostname linux1.csie.org
Host linux2
  Hostname linux2.csie.org
Host linux3
  Hostname linux3.csie.org
Host linux4
  Hostname linux4.csie.org
Host linux5
  Hostname linux5.csie.org
Host linux6
  Hostname linux6.csie.org
Host linux7
  Hostname linux7.csie.org
Host linux8
  Hostname linux8.csie.org
Host linux9
  Hostname linux9.csie.org
Host linux10
  Hostname linux10.csie.org
Host linux11
  Hostname linux11.csie.org
Host linux12
  Hostname linux12.csie.org
Host linux13
  Hostname linux13.csie.org
Host linux14
  Hostname linux14.csie.org
Host linux15
  Hostname linux15.csie.org
Host linux16
  Hostname linux16.csie.org
Host linux17
  Hostname linux17.csie.org
Host linux18
  Hostname linux18.csie.org
Host linux19
  Hostname linux19.csie.org
Host linux20
  Hostname linux20.csie.org
Host bsd1
  Hostname bsd1.csie.org
Host bsd2
  Hostname bsd2.csie.org

Host yeh*
  User r04922110
  IdentityFile ~/.ssh/shyeh.csid.id_rsa
  Compression yes
Host yeh1
  Hostname linux1.csie.org
Host yeh2
  Hostname linux2.csie.org
Host yeh3
  Hostname linux3.csie.org
Host yeh4
  Hostname linux4.csie.org
Host yeh5
  Hostname linux5.csie.org
Host yeh6
  Hostname linux6.csie.org
Host yeh7
  Hostname linux7.csie.org
Host yeh8
  Hostname linux8.csie.org
Host yeh9
  Hostname linux9.csie.org
Host yeh10
  Hostname linux10.csie.org
Host yeh11
  Hostname linux11.csie.org
Host yeh12
  Hostname linux12.csie.org
Host yeh13
  Hostname linux13.csie.org
Host yeh14
  Hostname linux14.csie.org
Host yeh15
  Hostname linux15.csie.org

Host bbk
    User git
    Hostname bitbucket.org
    IdentityFile ~/.ssh/id_rsa.bbk

Host sin-dev
    User albert
    Hostname dev.sinitic.ai
